@font-face {
  font-family: "Gilroy";
  src: url("./assets/fonts/Gilroy-Regular.woff2") format("woff2");
}
@font-face {
  font-family: "Nekst";
  src: url("./assets/fonts/Nekst-Bold.woff2") format("woff2");
  font-weight: bold;
}
$black: #111111;
$orange: #ff9514;
$orangeOpacity: rgba(255, 149, 20, 0.4);
$grey: #575757;
$md1: 1439px;
$md2: 1023px;
$md3: 767px;

* {
  font-family: Gilroy, sans-serif;
  font-size: 16px;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  box-sizing: border-box;
  color: $grey;
}
@media (max-width: $md3) {
  * {
    font-size: 14px;
  }
}
.page {
  max-width: 1440px;
  margin: 0px auto 0px;
  padding: 214px 48px 0px 47px;

  &__title {
    font-size: 54px;
    font-family: Nekst;
    font-weight: 700;
    max-width: 753px;
    color: $black;
    margin: 0px 0px 32px 0px;
    letter-spacing: -0.5px;
    line-height: 90%;
  }
  &__calc {
    margin: 0px 0px 51px 0px;
  }
  &__result {
    margin: 0px 0px 213px 0px;
  }
}
@media (max-width: $md1) {
  .page {
    padding: 102px 48px 0px;
    max-width: 1024px;
    &__title {
      margin: 0px 0px 42px 0px;
    }
    &__calc {
      margin: 0px 0px 5px 0px;
    }
    &__result {
      margin: 0px 0px 120px 0px;
    }
  }
}
@media (max-width: $md2) {
  .page {
    max-width: 768px;
    padding: 66px 36px 0px;
    &__title {
      margin: 0px 0px 32px 0px;
    }
    &__result {
      margin: 0px 0px 156px 0px;
    }
  }
}
@media (max-width: $md3) {
  .page {
    max-width: 320px;
    padding: 44px 21px 0px;
    &__title {
      font-size: 34px;
    }
    &__calc {
      margin: 0px 0px 0px 0px;
    }
    &__result {
      margin: 0px 0px 64px 0px;
    }
  }
}
.calc {
  display: flex;
  justify-content: space-between;
  @media (max-width: $md1) {
    flex-direction: column;
  }
  &__item {
    position: relative;
    flex: 0 0 427px;
    display: flex;
    flex-direction: column;
    @media (max-width: $md1) {
      flex: 0 0 119px;
      margin: 0px 0px 32px 0px;
    }
  }
  &__title {
    margin: 0px 0px 26px 0px;
  }
  &__wrapper {
    position: relative;
  }
  &__box {
    font-family: Nekst;
    font-weight: 700;
    font-size: 30px;
    border-radius: 16px;
    width: 69px;
    height: 54px;
    position: absolute;
    top: 7px;
    right: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    &_procent {
      background-color: #ebebec;
      font-size: 20px;
      right: 7px;
    }
    &_month {
      right: 21px;
    }
  }
  &__hole {
    height: 68px;
    border: none;
    color: $grey;
    font-family: Nekst;
    font-size: 30px;
    font-weight: 700;
    padding: 16px 0px 16px 24px;
    position: relative;
    outline: none;
  }
  &__slider {
    position: absolute;
    bottom: 0px;
    left: 24px;
    right: 24px;
  }
}
@media (max-width: $md1) {
  .calc {
    &__item {
      width: 100%;
    }
    &__slider {
      bottom: 6px;
    }
  }
}
@media (max-width: $md3) {
  .calc {
    &__item {
      flex: 0 0 96px;
      margin: 0px 0px 17px 0px;
    }
    &__title {
      margin: 0px 0px 10px 0px;
    }
    &__wrapper {
      &::after {
        font-size: 22px;
      }
    }
    &__hole {
      font-size: 22px;
      padding: 20px;
    }
  }
}
input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  cursor: pointer;
}
//дорожка
input[type="range"]::-webkit-slider-runnable-track {
  background: #e1e1e1;
  height: 1px;
}
input[type="range"]::-moz-range-track {
  background: #e1e1e1;
  height: 1px;
}
// ползунок
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  margin-top: -9px;
  border-radius: 50%;
  background-color: $orange;
  height: 20px;
  width: 20px;
  transition: all 0.1s ease 0s;
}
input[type="range"]::-moz-range-thumb {
  border: none;
  border-radius: 50%;
  background-color: $orange;
  height: 20px;
  width: 20px;
  transition: all 0.1s ease 0s;
}
input[type="range"]::-webkit-slider-thumb:hover {
  height: 24px;
  width: 24px;
  margin-top: -11px;
}
input[type="range"]::-moz-range-thumb:hover {
  height: 24px;
  width: 24px;
  margin-top: -11px;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}
.result {
  display: flex;
  justify-content: space-between;
  align-items: center;
  &__item {
    flex: 0 0 427px;
  }
  &__title {
    margin: 0px 0px 3px 0px;
    display: block;
    line-height: 150%;
  }
  &__num {
    font-family: Nekst;
    font-weight: 700;
    font-size: 54px;
    color: $grey;
  }
}
@media (max-width: $md1) {
  .result {
    flex-wrap: wrap;
    &__item {
      margin: 0px 21px 35px 0px;
    }
    &__btn {
      flex: 0 0 100%;
    }
  }
}
@media (max-width: $md2) {
  .result {
    justify-content: start;
    &__item {
      flex: 0 0 auto;
      margin: 0px 0px 35px 0px;
      &:first-child {
        margin: 0px 85px 35px 0px;
      }
    }
  }
}
@media (max-width: $md3) {
  .result {
    &__item {
      width: 100%;
      margin: 0px 0px 27px 0px;
      &:first-child {
        margin: 0px 0px 20px 0px;
      }
    }
    &__title {
      margin: 0px;
    }
    &__num {
      font-size: 22px;
    }
  }
}
.btn {
  width: 426px;
  height: 68px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $orange;
  border: none;
  border-radius: 40px;
  cursor: pointer;
  span {
    font-family: Nekst;
    font-weight: 700;
    font-size: 30px;
    color: #ffffff;
  }
  &:hover {
    background-color: $black;
  }
  &_pressed {
    background-color: $grey;
  }
  &_disabled {
    background-color: $orangeOpacity;
  }
}
.img {
  width: 21px;
  height: 21px;
  animation: 1s linear 0s normal none infinite running rot;
  -webkit-animation: 1s linear 0s normal none infinite running rot;
}
@keyframes rot {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes rot {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@media (max-width: $md1) {
  .btn {
    width: 345px;
  }
}
@media (max-width: $md3) {
  .btn {
    width: 280px;
    font-size: 22px;
    height: 60px;
  }
}
